.app-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.app-header__header-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.app-header__info-important,
.app-header__info-done {
  font-size: 18pt;
  font-weight: bold;
  color: grey;
  margin-bottom: 10px;
  word-wrap: none;
  /* width: 100%; */
}
